<div class="container">
  <mat-card>
    <mat-card-title>{{ currentAccountProduct?.name }}</mat-card-title>
    <mat-card-content>
      <div class="layout-row gap-20px responsive-column">
        <div>
          <strong>{{ 'labels.inputs.Name' | translate }}:</strong> {{ currentAccountProduct?.name }}
        </div>
        <div>
          <strong>{{ 'labels.inputs.Short Name' | translate }}:</strong> {{ currentAccountProduct?.shortName }}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['../']">{{ 'labels.buttons.Back' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</div>
